<div class="footer-dark">
    <div class="card-header">
        <div class="stats-block">
            <h3>Email Template
                <button mat-button class="close-icon" [mat-dialog-close]="true" class="pull-right">
                    <mat-icon>close</mat-icon>
                </button>
            </h3>
        </div>
    </div>
</div>
<br>

<div class="form">
    <mat-form-field appearance="">
        <mat-label>Select Template</mat-label>
        <mat-select>
            <mat-option value="option">Android Autodialer</mat-option>
        </mat-select>
    </mat-form-field><br><br>

    <form action="/action_page.csv">
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <input type="file" id="myFile" name="filename"><br><br>
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <input type="file" id="myFile" name="filename"><br><br>
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <input type="file" id="myFile" name="filename"><br><br>
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <input type="file" id="myFile" name="filename"><br>
    </form>
    
    <!-- <input #csvInput hidden="true" type="file" 
        onclick="this.value=null" (change)="csvInputChange($event)" accept=".csv"/>
    <button mat-flat-button color="primary" 
        (click)="csvInput.click()">Choose Spreadsheet File (CSV)</button> -->

    <br>
</div>

<mat-dialog-actions class="pull-right">
    <button mat-raised-button color="accent">Send Email</button>&nbsp;
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>