.fa-th-list
{
    font-size:60px;
    color:rgb(81, 9, 250); 
}
.fa-check-circle
{
    font-size:60px;
    color:rgb(199, 4, 248);
}
.fa-sync
{
    font-size:60px;
    color: rgb(18, 223, 52);
}
.fa-user-circle
{
    color: Dodgerblue;
}
.fa-flag
{
    color: tomato;
}
.fa-ban
{
    color: rgb(228, 25, 25);
}

.fa-list-alt
{
    font-size:60px;
    color: Dodgerblue;

}
.fa-calendar-alt
{
    font-size:60px;
    color: rgb(208, 228, 27);
}
.fa-puzzle-piece
{
    font-size:60px;
    color: rgb(247, 10, 156);
}
.fa-times-circle
{
    font-size:60px;
    color: rgb(228, 25, 25);
}
.fa-envelope
{
    font-size:60px;
    color: rgb(169, 151, 252);
}
.fa-info-circle
{
    font-size:60px;
    color: rgb(14, 180, 245);
}