<div class="login">
    <img class="" src="G:\satish\telemanager\src\assets\images\undraw_mobile_marketing_iqbr.png">
    <div class="container">
        <div class="img">

        </div>
        <div class="text-box">
            <input type="text" placeholder="UserName" name="" value="">
        </div>
        <div class="text-box">
            <input type="text" placeholder="Password" name="" value="">
        </div>
        <input class="btn" type="button" name="" value="Sign in">
    </div>
</div>